{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    {% for w in watchlist %}
        <br>
        {% if w.image_url %}
            <img src="{{ w.image_url }}" alt="{{ w.title }}">
        {% endif %}
        <a href="{% url 'listing' w.id %}">Title: {{ w.title }}</a>
        <p>Description: {{ w.description }}</p>
        <h4>Current Price: {{ w.current_price }}</h4>
        <br>
    {% empty %}
        <p>Your watchlist is empty.</p>
    {% endfor %}

{% endblock %}